*{
    margin: 0px;
}

/*Nav section is start here*/
.nav-section{
  display: flex;
    background-color:#FFF; 
    justify-content: center;
    align-items: center;
}
.title{
    margin: 1rem;
    font-size: 2rem;
}
.nav-section1{
    display: flex;
    padding: 35px;
    margin:46px 300px 46px 250px ;
   
}

.nav-section2{
 display: flex;
 margin-left: 600px;
}

.nav-section3{
    display: flex;
   
    background-color: rgba(11, 2, 35, 0.10);;
    padding: 20px 19px ;
    border-radius: 10px;
    margin: 37px 240px 37px 0px;
    
}

.gamer{
    color:#FF42A5 ;
}
div li a {
  
    text-align: center;
    text-decoration: none;
}
div li  {
   display: flex;
    list-style-type: none;
   text-align: center;
   margin-right:2rem ;
}

.youtub{
    color: red;
  margin-left: 10px;
  margin-right: 10px;
}

.follow {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
   
}
/*Main section is start here*/
.first-section {
    display: flex;
    background:linear-gradient(rgba(140, 87, 238, 0.03) 0%), rgba(241, 68, 174, 0.03)
}
.stylee{
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

 
}
.primary{
   
    background:var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn{
    display: inline-flex;
padding: 22px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 45%;
margin: 30px auto 30px 7px;
}
.secoundary{
 background-color:    #4EC5F7;
}
.right-seaction{
    margin:10px 30px 10px 60px ;
}
.little{
   text-align: justify;
}

.left-seaction{
    text-align: justify;
    margin: 200px 300px 250px 150px;
    flex-shrink: 0;
    background-image: url(images/Group\ 14.png);
 padding-left: 20px;
}
.little{
    margin: 10px;
}
.seaction-title{
    font-size: 2.3rem;
}

.section2{
    width: 1920px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.right-section2{

text-align: right;
margin: auto 220px auto 170px;

}
.left-section2{
    margin: 50px 20px 50px 240px;
}

.header{
font-size: 2rem;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.write{

}
.head-2{}
.lite{
    font-size: 2rem;
    
}

/*.heading{
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}*/
.seaction3{
   text-align: center;
   margin-top: 80px;
}
.seaction-4{
    display: flex;
    margin:10px 110px 10px 170px ;
    justify-content: center;
  gap: 30px;
    
}



.images3:hover{
    border: 3px solid rebeccapurple;
}
.images4:hover{
    border: 3px solid rebeccapurple;
}
.images5:hover{
    border: 3px solid rebeccapurple;
}
.images6:hover{
    border: 3px solid rebeccapurple;
}
.under-picture{
 
}

.images9{
    transform: translate(-145px,-255px);
}
.seaction-style{
    display: flex;
    justify-content: center;
}
.right-seaction3{
    margin:10px 160px 10px 300px ;

}
.left-seaction3{
    margin: 260px 190px 90px 210px;
    text-align: right;
  
}
.images8:hover{
    border: 1px solid blueviolet;
}
.images10:hover{
    border: 1px solid blueviolet; 
}

.secation-6{
    display: flex;
}
.images11{
    transform: translate(-140px,-135px);
  margin-left: 600px;
  margin-top:-150px;
   
}

.right-seaction4{
    margin-top: 220px;
    margin-left: 140px;
}

.left-secation-4{
    margin-left: 200px;
    margin-bottom: 200px;
}
.para1{
    margin-top: 20px;
}
.seaction-7{
    display:grid;
    grid-template-columns: repeat(2,1.5fr);
    background-color: #F948B2;
    justify-content: center;
    align-items: center;
 
}
.left-section-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   font-size: 1.5rem;
    gap: 2rem;
    margin: 10px 210px;
}
.left-seaction5{
    .left-seaction5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 10px 200px;
    }
}
.left-section-part2{
    padding: 10px;
    margin-top: 10px;

}
.new{

border-radius: 10px;
color: #F948B2;
background-color: #FFF;
padding: 15px;
font-size: 1rem;

}
.details,#a1,.new{
    text-align: justify;
    margin-top: 50px;
    margin-left: 230px;
}
.id2{
    text-decoration: none;
    text-align: center;
  
 
}
.arcada{
 border: 1px solid #F948B2;
 border-radius: 20px;
 position: relative;

}
.seaction-9{
display: flex;
flex-wrap: wrap;
margin: 100px;
gap: 150px;
justify-content: space-around;

    }
    .new-button{
        border-radius: 20px;
    }
    .new-button:hover{
  border: 1px solid blueviolet;
    }

.main-secation{
  text-align: center;
}

.arcada{
    border:1px solid #F948B2;
    border-radius: 25px;
    padding: 15px;
   
}

.link{
   justify-self: center;
     text-decoration: none;
   align-items: center;
    

   
}
.footer-section{
    text-align: center;
    background-color:#0B0223 ;
    color: #FFF;
}
.footer-img{
    display: flex;
    text-align: center;
    justify-content: center;
   padding: 40px;
}

.footer-nav{
    padding: 30px;
    margin: 20px 100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 1.3rem;
}


.footer-icon{
    padding: 30px;
    margin: 20px 100px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    gap: 150px;
}

.footer-link2{
    padding: 30px;
    margin: 20px 100px;
    display: flex;
    justify-content: space-evenly;
   
    font-size: 1.3rem;
}

.last-part{
    color: #FFF;
    font-size: 1.2rem;
  padding: 30px;}
  .link3{
    color:wheat;
    text-decoration: none;
    font-size: 1.4;
  }
  .link2{
    color:#FFF ;
    text-decoration: none;
    font-size: 1.6;
  }
.parents{
    position: relative;
    display: inline-block;
   
}
.images5{
   
    opacity: .60;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(26, 15, 15, 0.6);
    border: none;
    cursor: pointer;
}

 
  .fa-play-circle-o{
    position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }

/*Responsive style is start here  */

/*Responsesive style for mobile */
@media screen and (max-width: 600px){
.seaction-7{
    grid-template-columns: none;
    
}

.seaction-9{
display: grid;
grid-template-columns: auto auto auto;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
gap: 15px;
}



.footer-nav,.footer-icon,.footer-link2 {
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.last-part{
    margin: 30px 100px;
}

.left-seaction5{
    margin: 30px;
    justify-content: center;
}
.left-section-part{
    margin: 10px;
    
}
.new{
    margin-bottom: 10px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 20px;

}
#a1{
    margin-bottom: 10px;
    text-align: justify; 
    margin-left: 30px;
    margin-top: 20px;
}
.new-img{
    width: 400px;
    text-align: center;
  margin-left: 30px;
}
.details{
  margin-left:30px;
text-align: justify;
}
.secation-6{
    flex-direction: column-reverse;
}

.left-seaction3:hover{
    border: 1px solid blueviolet;
}
.right-seaction4:hover{
    border: 1px solid blueviolet;
}

.left-secation-4{
    margin-left: 20px;
    margin-bottom: 20px;
}
.right-seaction4{
    margin-top: 20px;
    margin-left: 20px;
}


    .seaction3{
        text-align: center;
        display: block;
    }
    .right-seaction3{
        margin: 20px 20px;
    }
    .left-seaction3{
    margin: 30px;
    margin-bottom: 20px;
    text-align: center;
    }
    .right-seaction4{
        margin:20px;
        text-align: center; 
    }
    .seaction-4,.seaction-style{
        flex-direction: column;
        margin: 20px 55px ;
        margin-top: 30px;
    }
   
    .images8, .images10{
        width:330px;
    }
    .images10{
        margin: 40px 50px ;
    }
  .images9{
    transform: translate(-45px,-75px);
    width: 100px;
  }
  

  .images11{
    width: 100px;
    transform: translate(175px,05px);
    margin-left: 140px;
  }
    .left-section2{
       margin:20px 40px 30px 20px;
       padding: 10px;
     
      
    }

    .right-section2{
        text-align:left;
        justify-content: center;
        align-items: center;
        margin: 30px;
        margin-bottom: 25px;
 
 }

.images2{
    width:400px;
   
    .header{
        text-align: center;
        margin-left:75px;
    }
}
 .section2{
 
   flex-direction: column;
   background: none;
    }



    .nav-section ,.nav-section1
    .nav-section2,.nav-section3{
        flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content:center ;
    
    }
    div li  {
      flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-section1{
        text-align: center;
        margin: auto;
      
    }
    .nav-section2 {
      margin: auto;
      display: block;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      padding: 20px;
    }
    .nav-section3{
     flex-direction: row;
    margin: auto;
    padding: 20px;
    }
    .follow {
        
    }

.section2{
    flex-direction: column;
}
    .left-seaction{

    }
.first-section{
        
        flex-direction: column-reverse;
}
.left-seaction{
    margin: auto;
}
.right-seaction{
    margin:auto;
  
}
.images1{
    width: 400px;
}
}



/*Responsesive style for desktop */

@media screen and (max-width: 601px) and (min-width: 1080px){



}
